.gitignore
Python/cursoemvideo/Lib/
Python/cursoemvideo/Scripts/
Python/cursoemvideo/pyvenv.cfg
Python/cursoemvideo/.idea/cursoemvideo.iml
Python/cursoemvideo/.idea/inspectionProfiles/profiles_settings.xml
Python/cursoemvideo/.idea/misc.xml
Python/cursoemvideo/.idea/modules.xml
Python/cursoemvideo/.idea/vcs.xml
/Java/alex.java/.metadata/
/justToPractice/API-NODEJS/APIProject/node_modules/
justToPractice/API-NODEJS/APIProject/node_modules